@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(ru.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(en.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}



@media screen and (max-width: 960px){

    footer > .footer-one > .left{
        display: none;
    }
    
    
    footer > .footer-two{
        display: block !important;
        text-align: center;
        display: block;
        padding-top: 20px;
        border: none;
    }
    
    .module:after {
        margin-top: 0px !important;
        font-size: 10px !important;
    }
    

}



.module:after {
    content: '\2192';
    display: block;
    display: none;
    color: tomato;
    text-align: right;
    font-size: 12px;
    margin-top: -16px;
}


body{
    margin: 0 auto;
    min-height: 600px;
    font-family: 'Source Sans Pro';
    font-size: larger;
    color: gray;
}


container{
    min-height: calc(100vh - 70px);
    max-width: 800px;
    margin: 0 auto;
    display: block;
}

footer{
    font-size: 14px;
    max-width: 800px;
    margin: 30px auto 15px;
    padding: 10px;
}

footer > .footer-two{
    display: none;
}

footer > .footer-one{
    display: flex;
}

footer > .footer-one > .left{
    flex: 1;
}

footer a{
    color: gray;
    text-decoration: none;
    border-bottom: 1px solid gainsboro;
    padding-bottom: 1px;
}

footer a:hover{
    color: black;
    border-color: gray;
}


footer > .footer-one > .right{
    justify-content: flex-end;
    flex: 1;
    display: flex;
    width: 100%;
}

footer > .footer-one > .right > a{
    flex: 1;
    text-align: center;
    border: none;
}

footer > .footer-one > .right > a img{
    height: 25px;
    flex: 1;
    text-align: center;
}


header{
/*    height: 200px;*/
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='30' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23222' stroke-width='10' %3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
}



header > .logo-block{
    text-align: center;
    margin: 0px;
    padding: 30px 0px 30px 0px;
}

header > .logo-block > a > img{
    width: 100px;
}


header > .logo-block .site-desc{
    color: snow;
    background: black;
    width: fit-content;
    margin: 12px auto;
    padding: 2px 10px;
    border-radius: 6px;
}


.item{
    min-height: 30px;
    display: flex;
    border-radius: 5px;
    padding: 9px 10px 0px 10px;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.item:hover{
    background: gainsboro;
    cursor: pointer;
}

.item > div{
    flex: 1;
    padding-left: 10px;
    padding-top: 2px;
}

.item > div:nth-child(1){
    max-width: 90px;
    border-right: 1px solid gainsboro;
    padding-right: 10px;
    padding-left: 0px;
    font-weight: normal;
    font-size: medium;
    white-space: nowrap;
}

.item > div:nth-child(1) img{
    width: 12px;
    margin-right: 4px;
    margin-bottom: -2px; 
}

.item > div:nth-child(2){
    margin-top: -3px;
    padding-bottom: 10px;
}


.link-light{
    font-size: medium;
    font-weight: normal;
    text-decoration: none;
    border-bottom: 1px solid gainsboro;
    color: dimgray;
    cursor: pointer;
}

.link-light:hover{
    color: royalblue;
}


.link-blue{
    cursor: pointer;
    color: #007bff;
    border-bottom: 1px solid lightgray;
}

.link-blue:hover{
    color: black;
}

.kino-item{
    display: none;
    padding: 10px 10px 3px 10px;
    cursor: default !important;
}

.kino-item:hover{
    background: none !important;
}

.kino-item > div:nth-child(1){
    font-weight: bold;
    font-size: unset;
    max-width: none;
    border: none;
    white-space: normal;
}

.kino-item > div:nth-child(2){
    padding: 0px;
    margin-top: 2px;
    font-size: medium;
    font-weight: normal;
}

.kino-item > div:nth-child(3){
    padding: 0px;
    margin-bottom: 12px;
}


.kino-item table{
    font-weight: normal;
    font-size: medium;
    width: 100%;
    margin-bottom: 20px;
}

.kino-item table td{
	padding: 5px 0px;
	text-align: left;
      display: inline-block;

}

.kino-item table tbody tr:nth-child(odd){
    background: #F7F7F7;

}

.kino-item table tbody tr:nth-child(even){
	background: #fff;
}

/*
.kino-item table td{
    padding-left: 1%;
    padding-right: 1%;
}
*/

.kino-item table td:first-child{
    width: 46%;
    padding-left: 1%;
}

.kino-item table td:last-child{
    width: 52%;
    padding-right: 1%;
}



.kino-item .kino-time{
    margin: 3px;
    display: inline-block;
    background: white;
    border: 1px solid gainsboro;
    border-radius: 4px;
    padding: 2px 6px;
    cursor: pointer;
}

.kino-item .kino-time:after{
    content: attr(kino-price);
    color: royalblue;
    font-size: 12px;
    padding-left: 2px;
}

.kino-over{
    color: gainsboro;
}

.kino-remove{
    display: none !important;
}

.event-over{
    color: gainsboro;
}


.hidden{
    display: none;
}

#description_block{
    display: none;
    color: black;
    padding: 0px 15px;
}

#description_block p{
    margin: 5px 0px;
    text-align:justify;
}

#description_block img{
    height: 18px;
    margin-right: 8px;
    margin-bottom: -3px;
}

.back-link{
    color: #000000d1;
    min-width: max-content;
    max-width: min-content;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
    background: #dcdcdc9e;
    border-radius: 4px;
    padding: 5px 10px;
}

.back-link:hover{
    color: black;
    background: gainsboro;
}

#description_block p.p-description{
    margin-top: 20px;
    white-space: pre-line;
}

.date-block{
/*    padding-top: 40px;*/
}

.date-block > .date-name{
    font-size: medium;
    width: inherit;
    font-weight: normal;
    position: sticky;
    top: 60px;
    z-index: 8888;
    color: black;
}

.date-block > .date-name > time{
    background-color: white;
    display: flex;
    padding: 14px 10px 10px 10px;
}
    


.date-block > .date-name:after {
    height: 15px;
    content: "1";
    display: block;
    background: linear-gradient(white, transparent);
    color: transparent;
}

.date-today{
    color: black;
    font-weight: bold;
/*    padding-top: 15px;*/
}

red{
    color: tomato;
    font-weight: bold;
}

black{
    color: black;
    font-weight: bold;
}

.flex{
    display: flex;
}


.date-name > time > div:last-child {
    flex: 1;
    text-align: right;
}


.films-remove-btn{
    display: initial;
    border-bottom: 1px solid gainsboro;
    color: dimgray;
    cursor: pointer;
}

.films-remove-btn-active{
    color: black;
    font-weight: bold;
}

.films-remove-btn:hover{
    color: black;
    border-color: black;
}



/*МЕНЮ СЛАЙДЕР РАЗОБРАТЬСЯ ЧТО К ЧЕМУ*/
.catalog-block {
    display: flex;
    margin-top: 40px;
}


.coloring > .catalog-block > .catalog-item {
    color: inherit;
}

.catalog-block > .catalog-item {
    flex: 1;
    cursor: pointer;    
    padding: 4px 10px;
    background: #dcdcdc47;
    border: 2px solid transparent;
    border-radius: 5px;
    font-size: medium;
}

.catalog-block > .catalog-item:hover {
    color: black;
}

.catalog-block > .catalog-item > div {
    width: max-content;
}


.catalog-block > .selected {
    cursor: default;
    background: white !important;
    color: black;
    border: 2px solid tomato;
    font-weight: bold;
}


.example__menu-item {
    margin: 0px 15px 0px 0px;
}



.module {
    z-index: 9999;
    -webkit-font-smoothing: subpixel-antialiased;
    max-width: 800px;
    margin: 0 auto;
    display: block;
    background: white;
    margin-top: -12px;
    padding: 15px 10px 15px 10px;
    border-radius: 10px 10px 0px 0px;
    position: sticky;
    top: 0;
    
}

.headinglabel {
    font-size: 11px;
    font-weight: bold;
    margin-bottom: 0.8em;
}

.example-result {
    order: -1;
    margin-bottom: 15px;
}

.example-codes {
    display: flex;
}

.example-codes .example-code {
    margin-right: 50px;
}

.example-codes .example-code:last-child {
    margin-right: 0;
}

.example code {
    margin-bottom: 0;
}

.example__menu {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.example__menuLimiter {
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
}



.example__menuWrapper {
    overflow: hidden;
    margin-bottom: 10px;
    border-width: 0 1px;
}

.example__menuWrapper:last-child {
    margin-bottom: 0;
/*    margin: 0px 10px;*/
}

.example__simpleWrapper {
    overflow: visible;
    border: solid #000;
    border-width: 0 1px;
    width: 355px;
}

.example__menuWrapper .example__menuLimiter {
    padding-bottom: 20px;
    margin-bottom: -20px;
}


.example__menu-item:last-child {
    margin-right: 0 !important;
    padding-right: 10px;
}

.example__menu-item a {
    color: #000;
    border: 0;
    box-shadow: none;
}

.example__menu-item a:hover {
    color: #e30016;
}